body{
    border : 3px solid black ;
    margin:1em auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
width: 1000px;
padding: 30px;
border-radius: 15px;
box-shadow: 5px 5px 5px black;
}
.ten{
padding: 0px;
display: flex;
}
img{
    margin-right: 30px;
    width: 150px;

}

h1{
    margin-left: -10px;
    text-shadow: 3px 3px 5px rgba(192, 19, 19, 0.5);
    color: rgb(250, 117, 9);
}
h3{
    color: aqua;
    margin-left: -80px;
}
hr{
    
    border-bottom: 2px solid rgb(233, 112, 14);}
.doan1{
    text-align: left;
}
.doan2{
    text-align: left;
}